# Python-specific ignores
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log

# Secrets
.env
*.secret

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# macOS specific
.DS_Store

# Docker
*.log
docker-compose.override.yml